.get-app img {
  height: 150px;
  width: 150px;
}

.footer-grid-container {
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
}

#footer .logo {
  display: flex;
  grid-column: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: #fff 1px 0 50px;
}

.social-media {
  display: flex;
  grid-column: 2;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transition: backround-color 0.3s;
}

.get-app {
  grid-column: 3;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2rem;
}

.copyright {
  grid-column: 1 / 4;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.copyright span {
  color: #fff;
}
