#hero-image {
  height: 650px;
  width: 550px;
}

.header-text1 h1 {
  color: #ffcc00;
  text-shadow: 5px 5px 5px #000;
}
.header-grid {
  display: grid;
  grid-template-columns: 40% 10% 50%;
  align-items: center;
  background-color: #ffa33c;
}

.header-text {
  padding-left: 5rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.header-text2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header-button a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  width: 20rem;
  transition: background-color 0.3s;
}

.header-button a:hover {
  background-color: #f4c714;
}
.hero-img-section {
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
