@import url(asset/css/header.css);
@import url(asset/css/feature.css);
@import url(asset/css/patnership.css);
@import url(asset/css/review.css);
@import url(asset/css/footer.css);
@import url(asset/css/responsive.css);

@font-face {
  font-family: StyleScript;
  src: url(asset/fonts/StyleScript-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(asset/fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  font-family: Montserrat;
  box-sizing: border-box;
}

#navbar {
  background-color: #333; /* Background color of the navbar */
  padding: 15px; /* Padding around the navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fff;
}

.logo {
  font-size: 3rem;
  color: #ffcc00;
  font-family: StyleScript;
  font-weight: 600;
}

.logo a {
  text-decoration: none;
  color: #ffcc00; /* Color of the logo text */
  padding-left: 3rem;
  text-shadow: #fff 1px 0 50px;
}

.menubar {
  list-style-type: none;
  margin: 0;
  padding-right: 0.5rem;
  display: flex;
}

.menubar li {
  margin: 0 15px; /* Spacing between each menu item */
}

.menubar a {
  text-decoration: none;
  color: #fff; /* Color of the menu items */
  font-weight: bold; /* Font weight of the menu items */
  font-size: 1.2rem;
}

/* Change color on hover for better user experience */
.menubar a:hover {
  color: #ffcc00; /* Change color on hover */
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 35px;
}
p {
  font-size: 25px;
}

@media screen and (max-width: 1320px) {
  .header-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8rem;
  }
}

@media screen and (max-width: 950px) {
  .hamburger {
    display: block;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
    padding-right: 0.5rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menubar {
    position: fixed;
    left: -100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    background-color: #ffcc00;
    width: 100%;
    text-align: center;
    transition: left 0.3s;
    padding: 0;
    gap: 1rem;
    z-index: 1000;
    font-size: 60px;
  }

  .menubar li {
    margin: 0;
  }

  .menubar a:hover,
  .menubar li:hover {
    background-color: #ffa33c;
  }

  .menuitem {
    margin: 16px 0;
  }

  .menubar.active {
    left: 0;
  }

  .footer-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 2rem;
  }

  .header-text {
    padding: 0;
  }

  .header-button {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  .logo a {
    padding-left: 0.5rem;
  }
}

@media screen and (max-width: 560px) {
  .header-button {
    width: 15rem;
  }

  #hero-image {
    height: 500px;
    width: 300px;
  }
}
